{% extends "element/page.twig" %}
{% block body %}
    <p>compétence</p>
    {% for competence in competences %}
        <p>{{ competence.name }}</p>
        {% for typeCompetence in competence.typeCompetences %}
            <p>{{ typeCompetence.name }}</p>
        {% endfor %}
        <p>{{ competence.description }}</p>
    {% endfor %}
{% endblock %}
