{% extends './element/page.twig' %}
{% block body %}
    <p> experience </p>
    {% for experience in experiences %}
        <p>{{ experience.getId }}</p>
        <p>{{ experience.getName }}</p>
        <p>{{ experience.getNameEntreprise }}</p>
        <p>{{ experience.getStart|date }}</p>
        {% if experience.getEnd != null %}
            <p>{{ experience.getEnd|date }}</p>
        {% else %}
            <p>en cours</p>
        {% endif %}
        <p>{{ experience.getDescription }}</p>
    {% endfor %}
{% endblock %}
