{% extends "element/page.twig" %}
{% block body %}
    <p>compétence</p>
    <form action="" method="post">
        <label>
            <input hidden name="code" value="create">
        </label>
        <label for="name">Nom</label>
        <input name="name" id="name">
        <label for="description">Description</label>
        <input name="description" id="description">
        <button type="submit">Enregistrer</button>
    </form>
    {% for competence in competences %}
        <p>{{ competence.name }}</p>
        {% for typeCompetence in competence.typeCompetences %}
            <p>{{ typeCompetence.name }}</p>
        {% endfor %}
        <p>{{ competence.description }}</p>
        <form action="" method="post">
            <label><input hidden name="code" value="edit"></label>
            <label><input hidden name="id" value="{{ competence.id }}"></label>
            <label>
                Nom
                <input name="name" value="{{ competence.name }}">
            </label>
            <label>
                Description
                <input name="description" value="{{ competence.description }}">
            </label>
            <button type="submit">Enregistrer</button>
        </form>
        <form action="" method="post">
            <label><input hidden name="code" value="delId"></label>
            <label><input hidden name="delId" value="{{ competence.id }}"></label>
            <button type="submit">Delete</button>
        </form>
    {% endfor %}
{% endblock %}
