{% extends './element/page.twig' %}
{% block body %}
    <p> experience </p>
    {% for experience in experiences %}
        <p>{{ experience.getId }}</p>
        <p>{{ experience.getName }}</p>
        <p>{{ experience.getNameEntreprise }}</p>
        <p>{{ experience.getStart|date }}</p>
        {% if experience.getEnd != null %}
            <p>{{ experience.getEnd|date }}</p>
        {% else %}
            <p>en cours</p>
        {% endif %}
        <p>{{ experience.getDescription }}</p>
        <form method="post" action="">
            <input value="delId" name="code" hidden>
            <input value="{{ experience.getId }}" name="delId" hidden>
            <button type="submit">delete</button>
        </form>
        <form method="post" action="">
            <input id="id" name="id" value="{{ experience.id }}" hidden>
            <label for="name">Nom</label>
            <input id="name" name="name" type="text" value="{{ experience.name }}">
            <label for="nameEntreprise">Nom Entreprise</label>
            <input id="nameEntreprise" name="nameEntreprise" type="text" value="{{ experience.nameEntreprise }}">
            <label for="start">Début</label>
            <input type="date" name="start" id="start" value="{{ experience.start }}">
            <label for="end">Fin</label>
            <input type="date" name="end" id="end" value="{{ experience.end }}">
            <label for="description">Description :</label>
            <input type="text" id="description" name="description" value="{{ experience.description }}">
            <input value="edit" name="code" hidden>
            <button type="submit">Modifier</button>
        </form>
    {% endfor %}
    <form method="post" action="">
        <label for="name">Nom</label>
        <input id="name" name="name" type="text">
        <label for="nameEntreprise">Nom Entreprise</label>
        <input id="nameEntreprise" name="nameEntreprise" type="text">
        <label for="start">Début</label>
        <input type="date" name="start" id="start">
        <label for="end">Fin</label>
        <input type="date" name="end" id="end">
        <label for="description">Description :</label>
        <input type="text" id="description" name="description">
        <input value="create" name="code" hidden>
        <button type="submit">Enregistrer</button>
    </form>
{% endblock %}
