{% extends './element/page.twig' %}
{% block body %}
    <p>Type Compétence</p>
    <form method="post" action="">
        <label for="name">Nom</label>
        <input name="name" id="name">
        <label for="description">Description</label>
        <input name="description" id="description">
        <label>
            <input hidden value="create" name="code">
        </label>
        <button type="submit">Enregistrer</button>
    </form>
    {% for typeCompetence in typeCompetences %}
        <p>{{ typeCompetence.id }}</p>
        <p>{{ typeCompetence.name }}</p>
        <p>{{ typeCompetence.description }}</p>
        <form method="post" action="">
            <label>
                <input hidden name="code" value="delId">
            </label>
            <label>
                <input hidden name="id" value="{{ typeCompetence.id }}">
            </label>
            <button type="submit">delete</button>
        </form>
        <form method="post" action="">
            <label>
                <input name="code" value="edit" hidden>
            </label>
            <label>
                <input name="id" value="{{ typeCompetence.id }}" hidden>
            </label>
            <label for="nameEdit"></label>
            <input name="name" id="nameEdit" value="{{ typeCompetence.name }}">
            <label for="descriptionEdit"></label>
            <input name="description" id="descriptionEdit" value="{{ typeCompetence.description }}">
            <button type="submit">Modifier</button>
        </form>
    {% endfor %}
{% endblock %}
