{% block head %}
    <head>
        <title>Portfoliot de Dieu</title>
        <meta name="author" content="Heynderickx Alexandre">
        <meta name="description" content="Mon portefoliot">
        {# <link rel="stylesheet" href=""> #}
    </head>
{% endblock %}
