{% set tab = [
    ["./","Acceuil"],
    ["?link=experience","Expérience"],
    ["?link=competence","Compétence"]] %}

{% set admin = "?link=admin&sublink=" %}
{% set tabAdmin = [
    [admin~"exp","Admin Experience"],
    [admin~"type","Admin Type Competence"],
    [admin~"comp","Admin Compétence"]] %}
<nav>
    <ul>
        {% for value in tab %}
            <a href="{{ value[0] }}">
                <li>{{ value[1] }}</li>
            </a>
        {% endfor %}
        {% if mode == "admin" %}
            {% for value in tabAdmin %}
                <a href="{{ value[0] }}">
                    <li>{{ value[1] }}</li>
                </a>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
