<html lang="fr">
{% include 'head.twig' %}
<body>
{% include 'header.twig' %}
{% include 'nav.twig' %}
{% block body %}
{% endblock %}
{% include 'footer.twig' %}
{% include 'script.twig' %}
</body>
</html>
